
<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white "> Category Detail Component</div>
    <div class="card-body">
        <div *ngIf="category ; else noCategory">
            <h3>Category detail</h3>
            <div class="card" style="width: 25em;">
                <div class="card-body">
                    <h5 class="card-title">{{category.name}}</h5>
                  
                </div>
               
            </div>
        </div>
        <ng-template #noCategory>
            <p>Category not found</p>
        </ng-template>
    </div>
</div>

